<div {% if settings.stagger_blog_posts_apparition %}reveal{% endif %} class="article-item {% if use_featured_layout %}{% if is_first %}article-item--featured{% else %}article-item--horizontal{% endif %}{% endif %} image-zoom">
  {%- if article.settings.image -%}
    <a href="{{ article.settings.url }}" class="article-item__image-container">      
      {{- article.settings.image | image_url: width: article.settings.image.width | image_tag: loading: 'lazy', sizes: '(max-width: 740px) 81vw, (max-width: 999px) 37vw, 425px', sizes: '600,700,800,1000,1200,1400,1600,1800,2000', class: 'article-item__image' -}}
    
      {%- if use_featured_layout and is_first -%}
        <span class="article-item__arrow prev-next-button prev-next-button--next">{% render 'icon' with 'nav-arrow-right', direction_aware: true %}</span>
      {%- else -%}
        <span class="article-item__arrow prev-next-button prev-next-button--small prev-next-button--next">{% render 'icon' with 'nav-arrow-right', direction_aware: true, width: 15, height: 12 %}</span>
      {%- endif -%}
    </a>
  {%- else -%}
    <a href="{{ article.settings.url }}" class="article-item__image-container">      
      <div class="placeholder-image" style="padding-bottom: 75%">
        {{ 'image' | placeholder_svg_tag }}
      </div>
      {%- if use_featured_layout and is_first -%}
        <span class="article-item__arrow prev-next-button prev-next-button--next">{% render 'icon' with 'nav-arrow-right', direction_aware: true %}</span>
      {%- else -%}
        <span class="article-item__arrow prev-next-button prev-next-button--small prev-next-button--next">{% render 'icon' with 'nav-arrow-right', direction_aware: true, width: 15, height: 12 %}</span>
      {%- endif -%}
    </a>
  {%- endif -%}

  <div class="article-item__content text-container">
    {%- if section.settings.show_category -%}
      <p class="article-item__category heading heading--xsmall">{{ article.settings.category }}</p>
    {%- endif -%}
    <h3 class="article-item__title heading {{ heading_size }}">
      <a href="{{ article.settings.url }}">{{ article.settings.title }}</a>
    </h3>

  </div>
</div>
