<style>
  #shopify-section-{{ section.id }} {
    {%- if section.settings.background == 'rgba(0,0,0,0)' -%}
      {%- assign section_background = settings.background -%}
    {%- else -%}
      {%- assign section_background = section.settings.background -%}
    {%- endif -%}

    {%- if section.settings.text_color == 'rgba(0,0,0,0)' -%}
      {%- assign text_color = settings.text_color -%}
    {%- else -%}
      {%- assign text_color = section.settings.text_color -%}
    {%- endif -%}

    --text-color: {{ text_color.red }}, {{ text_color.green }}, {{ text_color.blue }};
    --section-background: {{ section_background.red }}, {{ section_background.green }}, {{ section_background.blue }};
    --marquee-animation-duration: {{ section.settings.animation_speed }}s;
    --marquee-gap: {{ section.settings.min_gap }}px;
  }
</style>

<section class="section section--flush">
  <div class="section__color-wrapper">
    <div 
      class="marquee" 
      {%- if section.settings.section_link -%}
        onclick="location.href='{{ section.settings.section_link }}';"
        style="cursor: pointer;"
      {%- endif -%}>
      <div class="marquee__content">
        {%- for i in (1..section.settings.repeat) -%}
          <span>{{ section.settings.content | remove: '<p>' | remove: '</p>' }}</span>
          {% if section.settings.separator != blank %}
            <span>{{ section.settings.separator }}</span>
          {% endif %}
        {%- endfor -%}
      </div>

      <div class="marquee__content" aria-hidden="true">
        {%- for i in (1..section.settings.repeat) -%}
          <span>{{ section.settings.content | remove: '<p>' | remove: '</p>' }}</span>
          {% if section.settings.separator != blank %}
            <span>{{ section.settings.separator }}</span>
          {% endif %}
        {%- endfor -%}
      </div>
    </div>
  </div>
</section>

{% stylesheet %}
  .marquee {
    position: relative;
    display: flex;
    overflow: hidden;
    user-select: none;
    gap: var(--marquee-gap);
  }

  .marquee__content {
    flex-shrink: 0;
    display: flex;
    justify-content: space-around;
    gap: var(--marquee-gap);
    min-width: 100%;
    padding: 5px 0;
    animation: marquee var(--marquee-animation-duration, 10s) linear infinite;
  }

  @keyframes marquee {
    from {
      transform: translateX(0);
    }
    to {
      transform: translateX(calc(-100% - var(--marquee-gap)));
    }
  }

  @media (prefers-reduced-motion: reduce) {
    .marquee__content {
      animation-play-state: paused !important;
    }
  }
{% endstylesheet %}

{% schema %}
{
  "name": "Scrolling Text / Marquee",
  "class": "shopify-section--marquee",
  "settings": [
    {
      "type": "richtext",
      "id": "content",
      "label": "Content",
      "default": "<p><strong>Your content</strong></p>"
    },
    {
      "type": "text",
      "id": "separator",
      "label": "Separator",
      "default": "·"
    },
    {
      "type": "url",
      "id": "section_link",
      "label": "Link for the whole marquee section"
    },
    { "type": "header", "content": "Marquee Settings" },
    {
      "type": "paragraph",
      "content": "Play around with these settings as needed. 'Repeat', 'gap' and 'animation' speed can affect each other."
    },
    {
      "type": "range",
      "id": "repeat",
      "label": "Content repetition",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "x",
      "default": 10
    },
    {
      "type": "range",
      "id": "min_gap",
      "label": "Minimum text gap",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "default": 4
    },
    {
      "type": "range",
      "id": "animation_speed",
      "label": "Animation speed",
      "min": 0,
      "max": 200,
      "step": 2,
      "unit": "s",
      "default": 30
    },
    { "type": "header", "content": "Colors" },
    {
      "type": "color",
      "id": "text_color",
      "label": "Text",
      "default": "rgba(0,0,0,0)"
    },
    {
      "type": "color",
      "id": "background",
      "label": "Section background",
      "default": "rgba(0,0,0,0)"
    }
  ],
  "presets": [
    {
      "name": "Scrolling Text / Marquee",
      "category": "Custom"
    }
  ]
}
{% endschema %}
